<form [formGroup]="teamEditForm" *ngIf="selectedTeam">
    <h2>Edit Team</h2>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" formControlName="name" name="name" id="name" placeholder="Enter team name" required />
    </div>

    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" formControlName="location" name="location" id="location" placeholder="Enter location" required/>
    </div>

    <div class="form-group">
        <label for="noOfPlayers">No of players</label>
        <input type="number" class="form-control" formControlName="noOfPlayers" name="noOfPlayers" id="noOfPlayers" placeholder="Enter No of players" required/>
    </div>

    <div class="form-group">
        <label for="rank">Rank</label>
        <input type="numbers" class="form-control" formControlName="rank" name="rank" id="rank" placeholder="Enter rank" required/>
    </div>


    <button type="button" class="btn btn-primary" (click)="saveTeam()"
    [disabled]="teamEditForm.invalid"
    >Submit</button>
  </form>

  <div *ngIf="showNotEditing">
        Please select a team above to edit it.
      </div>
